body {
  background: radial-gradient(circle closest-side, #090124, #300433 ,#185154 , #300433 ,#000000);
}


.discord	{


  display: block;
  place-items: center; 

  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  
 =

 -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(1px 1px 10px white);
  
}

h1 {
  color: white;
  text-align: center;
	
	font-family: roboto;
	font-size: 100px;
	font-weight: 10000;
	letter-spacing: 20px;

	text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}


h2 {
  color: white;
  text-align: center;
	
	font-family: roboto;
	font-size: 35px;
text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);

}

p {
  text-align: center;
	color: white;
  font-family: roboto;
  font-size: 20px;
padding: 0px;
text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);

}

